@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css');

body {
 background: linear-gradient(to bottom right,  #0066ff, #cce0ff);
 background-repeat: no-repeat;
  -webkit-background-size: cover;
}

#title {
  color: black;
  font-family: 'Chewy', cursive;
  font-size: 50px;
  text-align: center;
  padding-left: 1em;
  padding-top: 1.5em;
  text-decoration: underline;
  text-shadow: 3px 2px #cce0ff;
}

.wrapper {
  text-align: right;
}

#weatherBtn {
  text-align: center;
  margin-botton: 2em;
  font-size: 20px;
  margin-top: 2em;
  border-style: solid;
  border-color: black;
  border-thickness: 5px;

}

.textbox {
  background-color: #cce0ff;
  border-color: black;
  border-style: solid;
  border-radius: 100px;
  border-thickness: 5px;
  padding: 1em;
  width: 75%;
  height: 20em;

}

#location {
  text-align: center;
  font-family: 'Chewy', cursive;
  color: black;

}

#temperature {
  text-align: center;
  font-family: 'Chewy', cursive;
  color: black;
  float: right;
  font-size: 40px;

}

#iconDisplay {
  color: black;
  text-align: right;
  font-size: 60px;

}

#changeF {
  margin-top: 1em;
  font-size: 20px;
  font-family: 'Chewy', cursive;
  border-style: solid;
  border-color: black;
  border-thickness: 5px;
  text-align: center;
  float: right;
}

#changeC {
  margin-top: 1em;
  font-size: 20px;
  font-family: 'Chewy', cursive;
  border-style: solid;
  border-color: black;
  border-thickness: 5px;
  text-align: center;
  float: left;
}

#credits {
  text-align: center;
  font-family: 'Chewy', cursive;
  padding-top: 5em;
  font-size: 13px;
}

#changeF:active {
  color: black;
  background-color: white;
}
#changeF:hover {
  color: black;
  background-color: white;
}

#changeC:active {
  color: black;
  background-color: white;
}
#changeC:hover {
  color: black;
  background-color: white;
}